$grid-columns: 12;

$typography: (
  '--q-font-family': "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif",
  '--q-font-size': calc(0.875 * 1em),
  '--q-font-scale': 1.2,
);

$spacing: (
  '--q-vertical-spacing--small': 12px,
  '--q-vertical-spacing': 24px,
  '--q-vertical-spacing--large': 36px,
);

$colors: (
  '--q-color-white': #fff,
  '--q-color-gray--lightest': hsl(0, 0, 97),
  '--q-color-gray--lighter': hsl(0, 0, 94),
  '--q-color-gray--light': hsl(0, 0, 89),
  '--q-color-gray--normal': hsl(0, 0, 84),
  '--q-color-gray--dark': hsl(0, 0, 78),
  '--q-color-gray--darker': hsl(0, 0, 70),
  '--q-color-gray--darkest': hsl(0, 0, 60),
  '--q-color-backish--lightest': hsl(0, 0, 40),
  '--q-color-backish--lighter': hsl(0, 0, 25),
  '--q-color-backish--light': hsl(0, 0, 15),
  '--q-color-backish--normal': hsl(0, 0, 7),
  '--q-color-backish--dark': hsl(0, 0, 5),
  '--q-color-backish--darker': hsl(0, 0, 3),
  '--q-color-backish--darkest': hsl(0, 0, 0),
  '--q-color-primary--lightest': hsl(190, 34, 95),
  '--q-color-primary--lighter': hsl(190, 34, 79),
  '--q-color-primary--light': hsl(190, 42, 52),
  '--q-color-primary--normal': hsl(190, 45, 45),
  '--q-color-primary--dark': hsl(190, 50, 39),
  '--q-color-primary--darker': hsl(190, 55, 30),
  '--q-color-primary--darkest': hsl(190, 55, 21),
  '--q-color-secondary--lightest': hsl(320, 21, 96),
  '--q-color-secondary--lighter': hsl(320, 25, 83),
  '--q-color-secondary--light': hsl(320, 25, 67),
  '--q-color-secondary--normal': hsl(320, 30, 50),
  '--q-color-secondary--dark': hsl(320, 33, 44),
  '--q-color-secondary--darker': hsl(320, 38, 31),
  '--q-color-secondary--darkest': hsl(320, 49, 24),
  '--q-color-success--lightest': hsl(84, 56, 95),
  '--q-color-success--lighter': hsl(84, 62, 78),
  '--q-color-success--light': hsl(84, 68, 55),
  '--q-color-success--normal': hsl(84, 99, 40),
  '--q-color-success--dark': hsl(84, 97, 34),
  '--q-color-success--darker': hsl(84, 97, 23),
  '--q-color-success--darkest': hsl(84, 100, 10),
  '--q-color-danger--lightest': hsl(357, 66, 95),
  '--q-color-danger--lighter': hsl(357, 75, 81),
  '--q-color-danger--light': hsl(357, 81, 69),
  '--q-color-danger--normal': hsl(357, 68, 50),
  '--q-color-danger--dark': hsl(357, 74, 43),
  '--q-color-danger--darker': hsl(357, 83, 34),
  '--q-color-danger--darkest': hsl(357, 100, 23),
);

@function map-val($map, $key) {
  $def: map-get($map, $key);
  @return var(#{$key}, #{$def});
}
