@import "../shared/variables";

:host {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #{map-val($colors, '--q-color-backish--normal')};
  position: fixed;
  animation-duration: .2s;
  animation-name: showup;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 0s;
}

:host(.showing) {
  animation-play-state: running;
}

:host(.hiding) {
  animation-name: showdown;
}

:host(.hidden) {
  display: none;
}

@keyframes showup {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    opacity: .3;
  }
}

@keyframes showdown {
  0% {
    opacity: .3;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
