$_color-white: #fff;
$_color-blackish: #02040F; 

$_color-gray: (
    'lightest': hsl(0, 0, 97),
    'lighter': hsl(0, 0, 94),
    'light': hsl(0, 0, 89),
    'normal': hsl(0, 0, 84),
    'dark': hsl(0, 0, 78),
    'darker': hsl(0, 0, 70),
    'darkest': hsl(0, 0, 60),
);
$_color-blackish: (
    'lightest': hsl(0, 0, 40),
    'lighter': hsl(0, 0, 25),
    'light': hsl(0, 0, 15),
    'normal': hsl(0, 0, 7),
    'dark': hsl(0, 0, 5),
    'darker': hsl(0, 0, 3),
    'darkest': hsl(0, 0, 0),
);
$_color-primary: (
    'lightest': hsl(195, 48, 95),
    'lighter': hsl(195, 43, 86),
    'light': hsl(195, 49, 70),
    'normal': hsl(194, 60, 50),
    'dark': hsl(195, 66, 38),
    'darker': hsl(195, 70, 31),
    'darkest': hsl(195, 85, 22),
);
$_color-secondary: (
    'lightest': hsl(320, 21, 96),
    'lighter': hsl(320, 25, 83),
    'light': hsl(320, 25, 67),
    'normal': hsl(320, 30, 50),
    'dark': hsl(320, 33, 44),
    'darker': hsl(320, 38, 31),
    'darkest': hsl(320, 49, 24),
);

$_color-gray--lightest: map-get($_color-gray, 'lightest');
$_color-gray--lighter: map-get($_color-gray, 'lighter');
$_color-gray--light: map-get($_color-gray, 'light');
$_color-gray--normal: map-get($_color-gray, 'normal');
$_color-gray--dark: map-get($_color-gray, 'dark');
$_color-gray--darker: map-get($_color-gray, 'darker');
$_color-gray--darkest: map-get($_color-gray, 'darkest');

$_color-blackish--lightest: map-get($_color-blackish, 'lightest');
$_color-blackish--lighter: map-get($_color-blackish, 'lighter');
$_color-blackish--light: map-get($_color-blackish, 'light');
$_color-blackish--normal: map-get($_color-blackish, 'normal');
$_color-blackish--dark: map-get($_color-blackish, 'dark');
$_color-blackish--darker: map-get($_color-blackish, 'darker');
$_color-blackish--darkest: map-get($_color-blackish, 'darkest');

$_color-primary--lightest: map-get($_color-primary, 'lightest');
$_color-primary--lighter: map-get($_color-primary, 'lighter');
$_color-primary--light: map-get($_color-primary, 'light');
$_color-primary--normal: map-get($_color-primary, 'normal');
$_color-primary--dark: map-get($_color-primary, 'dark');
$_color-primary--darker: map-get($_color-primary, 'darker');
$_color-primary--darkest: map-get($_color-primary, 'darkest');

$_color-success--lightest: #EFEEEA;
$_color-success--lighter: #EFEEEA;
$_color-success--light: #EFEEEA;
$_color-success--normal: #EFEEEA;
$_color-success--dark: #EFEEEA;
$_color-success--darker: #EFEEEA;
$_color-success--darkest: #EFEEEA;

$_color-danger--lightest: #EFEEEA;
$_color-danger--lighter: #EFEEEA;
$_color-danger--light: #EFEEEA;
$_color-danger--normal: #EFEEEA;
$_color-danger--dark: #EFEEEA;
$_color-danger--darker: #EFEEEA;
$_color-danger--darkest: #EFEEEA;

$_color-warning--lightest: #EFEEEA;
$_color-warning--lighter: #EFEEEA;
$_color-warning--light: #EFEEEA;
$_color-warning--normal: #EFEEEA;
$_color-warning--dark: #EFEEEA;
$_color-warning--darker: #EFEEEA;
$_color-warning--darkest: #EFEEEA;