$_color-white: #fff;
$_color-blackish: #02040F; 

$_color-gray--100: #EFEEEA;
$_color-gray--200: #EFEEEA;
$_color-gray--300: #EFEEEA;
$_color-gray--400: #EFEEEA;
$_color-gray--500: #EFEEEA;
$_color-gray--600: #EFEEEA;
$_color-gray--700: #EFEEEA;
$_color-gray--800: #EFEEEA;

$_color-primary--100: #EFEEEA;
$_color-primary--200: #EFEEEA;
$_color-primary--300: #EFEEEA;
$_color-primary--400: #EFEEEA;
$_color-primary--500: #EFEEEA;
$_color-primary--600: #EFEEEA;
$_color-primary--700: #EFEEEA;
$_color-primary--800: #EFEEEA;

$_color-success--100: #EFEEEA;
$_color-success--200: #EFEEEA;
$_color-success--300: #EFEEEA;
$_color-success--400: #EFEEEA;
$_color-success--500: #EFEEEA;
$_color-success--600: #EFEEEA;
$_color-success--700: #EFEEEA;
$_color-success--800: #EFEEEA;

$_color-danger--100: #EFEEEA;
$_color-danger--200: #EFEEEA;
$_color-danger--300: #EFEEEA;
$_color-danger--400: #EFEEEA;
$_color-danger--500: #EFEEEA;
$_color-danger--600: #EFEEEA;
$_color-danger--700: #EFEEEA;
$_color-danger--800: #EFEEEA;

$_color-warning--100: #EFEEEA;
$_color-warning--200: #EFEEEA;
$_color-warning--300: #EFEEEA;
$_color-warning--400: #EFEEEA;
$_color-warning--500: #EFEEEA;
$_color-warning--600: #EFEEEA;
$_color-warning--700: #EFEEEA;
$_color-warning--800: #EFEEEA;