@mixin grid($grid-width: 1200px) {
    box-sizing: border-box;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    max-width: $grid-width;
    zoom: 1;
    width: 100%;
}

@mixin grid-gutter($gutter, $col: ".col", $columns: $_columns) {
    $__list: ($col);

    @for $i from 1 through $columns {
        $__list: append($__list, unquote("#{$col}-#{$i}"), comma);
    }

    #{$__list} {
        padding-left: $gutter * 1px;
        padding-right: $gutter * 1px;
    }
}