@import "variables";
@import "colors";

@mixin font(
    $font-size: $_font-size-base, 
    $margin: #{$_vertical-rhythm} 0 0 0, 
    $weight: 400, 
    $line-height: $_font-size-base)
{
    line-height: $line-height;
    font-family: $_font-family;
    font-size: $font-size;
    font-weight: $weight;
    margin: $margin;
}

@mixin title-1() {
    @include font(
        #{$_font-size-title-1}, 
        calc(2 * #{$_vertical-rhythm}) 0 0 0, 
        600,
        normal
    );
}

@mixin title-2() {
    @include font(
        #{$_font-size-title-2}, 
        calc(1.5 * #{$_vertical-rhythm}) 0 0 0, 
        500,
        normal
    );
}

@mixin title-3() {
    @include font(
        #{$_font-size-title-3}, 
        #{$_vertical-rhythm} 0 0 0, 
        500,
        normal
    );
}

@mixin title-4() {
    @include font(
        #{$_font-size-title-4}, 
        #{$_vertical-rhythm} 0 0 0, 
        500,
        normal
    );
}

@mixin paragraph() {
    @include font(
        #{$_font-size-base}, 
        calc(#{$_vertical-rhythm} / 2) 0 calc(#{$_vertical-rhythm} / 2), 
        400, 
        24px / $_font-size
    );
}

@mixin note() {
    @include font(
        #{$_font-size-note}, 
        calc(#{$_vertical-rhythm} / 2) 0 calc(#{$_vertical-rhythm} / 2) 0
    );
    color: $_color-gray--darkest;
}

@mixin label() {
    display: block;
    @include font(
        #{$_font-size-base}, 
        0 0 4px 0, 
        500
    );
}