/**
 * Grid system
 */
$_columns: 12;
$_column-percent: 100 / $_columns;
$_gutters: (4, 8, 12, 16, 20);
$_breakpoints: (
    xs: 568px,
    sm: 768px,
    md: 960px,
    lg: 1200px,
);

/**
 * Typography
 */