@import "mixins/variables";
@import "mixins/typography";
@import "mixins/colors";
@import "mixins/button";

$button-configuration: (
    '': $button,
    'disabled': $button-disabled,
    'focus': $button-focus,
    'hover': $button-hover,
);
$ghost-configuration: (
    '': $ghost,
    'disabled': $ghost-disabled,
    'focus': $ghost-focus,
    'hover': $ghost-hover,
);
$primary-configuration: (
    '': $primary,
    'disabled': $primary-disabled,
    'focus': $primary-focus,
    'hover': $primary-hover,
);
$primary-ghost-configuration: (
    '': $primary-ghost,
    'disabled': $primary-ghost-disabled,
    'focus': $primary-ghost-focus,
    'hover': $primary-ghost-hover,
);
$danger-configuration: (
    '': $danger,
    'disabled': $danger-disabled,
    'focus': $danger-focus,
    'hover': $danger-hover,
);
$danger-ghost-configuration: (
    '': $danger-ghost,
    'disabled': $danger-ghost-disabled,
    'focus': $danger-ghost-focus,
    'hover': $danger-ghost-hover,
);

@mixin generate($map, $type: "") {
    @if $type != '' {
        $type: ('-' + $type);
    }

    @each $variant, $def in $map {
        $modifier: "";
        @if $variant != '' {
            $modifier: ('-' + $variant);
        }

        @each $prop, $value in $def {
            --q-button#{$type}#{$modifier}--#{$prop}: #{$value};
        }
    }
}

:root {
    // Following generates huge number of design tokens
    // Do I need them all? Isn't --q-primary--normal instead --q-button-primary--background for primary button background enought?
    // Commented till desicion will be made.

    // @include generate($button-configuration);
    // @include generate($ghost-configuration);
    // @include generate($primary-configuration, 'primary');
    // @include generate($primary-ghost-configuration, 'primary');
    // @include generate($danger-configuration, 'danger');
    // @include generate($danger-ghost-configuration, 'danger');
}

button,
input[type=button],
.button {
    @include base-button($button, $button-disabled, $button-focus, $button-hover) {
        @include ghost-button($ghost, $ghost-disabled, $ghost-focus, $ghost-hover);
    }
}

button[type=submit],
input[type=submit],
button.button--primary {
    @include base-button($primary, $primary-disabled, $primary-focus, $primary-hover) {
        @include ghost-button($primary-ghost, $primary-ghost-disabled, $primary-ghost-focus, $primary-ghost-hover);
    }
}

button[type=reset],
input[type=reset],
button.button--danger {
    @include base-button($danger, $danger-disabled, $danger-focus, $danger-hover) {
        @include ghost-button($danger-ghost, $danger-ghost-disabled, $danger-ghost-focus, $danger-ghost-hover);
    }
}