@import "mixins/colors";
@import "mixins/shadows";
@import "spacing";

$border-radius: 2px;
$background: $_color-white;
$border-color: $_color-gray--lighter;
$color: $_color-blackish--normal;
$horizontal-spacing: 24px;
$focus__border: $_color-secondary--lighter;
$focus__shadow: $_color-secondary--lighter;

.input {
    align-items: baseline;
    background: $background;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    display: inline-flex;
    padding: 0;
    position: relative;
    transition: .2s;
    @include font(1em, 0, 400, 1);
    
    margin-bottom: $horizontal-spacing;
    width: map-get($spaces, '32.0');

    &__addon {
        background: transparent;
        align-self: stretch;
        display: inline-flex;
        align-items: center;
        padding: 0 12px;

        &__control {
            height: 60%;
            display: inline-flex;
            align-items: center;
            margin-left: -12px;
            margin-right: -12px;
            padding: 0 12px;
        }

        &:first-child > .input__addon__control:last-child {
            border-right: 1px solid $border-color;
            margin-left: -12px;
        }

        &:last-child > .input__addon__control:first-child {
            border-left: 1px solid $border-color;
            margin-right: -12px;
        }
    }

    & > input {
        border: none;
        background-color: transparent;
        color: $color;
        padding: 12px;
        width: 100%;

        @include font(1em, 0, 400, 1);

        &:focus {
            outline: none;
        }
    }

    &--focus,
    &:focus,
    &:focus-within {
        @include shadow-normal($_color-gray--dark);

        .input__envelope {
            .input__addon {
                background: transparent;
            }
        }
    }
}