@import "mixins/typography";
@import "mixins/variables";

:root {
    --q-vertical-rhythm: #{$_vertical-rhythm--def};
    --q-font-family: #{$_font-family--def};
    --q-font-base-size: #{$_font-size-base--def};
    --q-font-scale-ratio: #{$_font-scale-ratio--def};
    --q-font-base-line-height: #{$_font-line-height--def};

    --q-title-1-size: #{$_font-size-title-1};
    --q-title-2-size: #{$_font-size-title-2};
    --q-title-3-size: #{$_font-size-title-3};
    --q-title-4-size: #{$_font-size-title-4};
    --q-note-size: #{$_font-size-note};
}

html {
    font-size: $_vertical-rhythm;
}

body {
    font-size: $_font-size;
}

h1, 
.h1 {
    @include title-1();
}

h2, 
.h2 {
    @include title-2();
}

h3, 
.h3 {
    @include title-3();
}

h4, 
.h4 {
    @include title-4();
}

p {
    @include paregraph();
}

small, 
.note {
    @include note();
}

label,
.label {
    @include label();
}