@import "mixins/typography";

:root {
    --q-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
    --q-base-text-size: 14px;
    --q-text-scale-ratio: 1.2;
    --q-base-line-height: 1.5;

    --q-title-1-size: calc(1em * var(--q-text-scale-ratio) * var(--q-text-scale-ratio) * var(--q-text-scale-ratio) * var(--q-text-scale-ratio));
    --q-title-2-size: calc(1em * var(--q-text-scale-ratio) * var(--q-text-scale-ratio) * var(--q-text-scale-ratio));
    --q-title-3-size: calc(1em * var(--q-text-scale-ratio) * var(--q-text-scale-ratio));
    --q-title-4-size: calc(1em * var(--q-text-scale-ratio));
    --q-note-size: calc(1em / var(--q-text-scale-ratio))
}

html {
    font-size: 12px;
}

body {
    font-size: var(--q-base-text-size);
}

h1, 
.h1 {
    @include title-1();
}

h2, 
.h2 {
    @include title-2();
}

h3, 
.h3 {
    @include title-3();
}

h4, 
.h4 {
    @include title-4();
}

p {
    @include paregraph();
}

small, 
.note {
    @include note();
}

label,
.label {
    @include label();
}